# Python Data Analysis Report

## Prevalence and Factors Associated with Hypertension among People Living with HIV (PLWHIV) 

<!-- ### Data Analysis Plan:
1. Introduction
2. Exploratory data analysis
3. Prevalence of hypertension in PLWHIV on ART or not
4. Factors associated with hypertension in PLWHIV on ART or not
5. Conclusion 
6. Recommendations -->

*Boni Maxime Ale*

*NYC Data Science Academy*

*21 February 2022*

### Introduction
Hypertension is a major modifiable risk factor for cardiovascular diseases (CVD) globally. In low- and middle-income settings, including sub-Saharan Africa (SSA), hypertension prevalence has been increasing rapidly over the past several decades. The World Health Organization (WHO) estimates that 46% of individuals >25 years in SSA have hypertension, with rising rates due to demographic transitions that have led to sedentary lifestyles, smoking, harmful alcohol use and consumption of processed foods [1–3]. Estimates of hypertension prevalence in Kenya are high (ranging from 12.6–36.9%) with higher rates in urban areas [1, 4, 5]. Older age, higher body mass index (BMI), alcohol consumption, cigarette smoking, and higher socioeconomic status have been associated with hypertension in previous studies in Kenya [5–7].

However, hypertension diagnosis and treatment are often delayed due to its asymptomatic nature, leading to increased risk of complications and mortality [8]. In SSA, screening, diagnosis, and treatment remain inadequate [9] and a recent study found that 40% of individuals with hypertension in East and West Africa were unaware of their status. The WHO 2017 report on non-communicable diseases (NCD) risk factors identified hypertension as the leading cause of death across income levels [10]. In 2015, hypertension caused an estimated 7.5 million deaths, accounting for 12.8% of all deaths globally [11]. In particular, sub-Saharan Africa (SSA) is facing a dual burden of communicable and non-communicable diseases, including CVD and cancers, with fewer resources for managing NCD [1, 12, 13].

The widespread use of antiretroviral therapy (ART) in SSA has resulted in a near normal life expectancy among persons with HIV (PWH); overall approximately 76% of PWH in SSA are virally suppressed [14]. This increased lifespan, however, may lead to an increased risk of NCD, including hypertension, due to the HIV virus and ART toxicity [14–17]. Studies on hypertension in PWH have shown varied results, some showing higher prevalence of hypertension while others showing no differences or lower prevalence of hypertension among PWH [18, 19]. The majority of studies have included PWH who are ART naïve or on ART but with poorly controlled viral loads compared to HIV-negative individuals in SSA [15, 18, 20, 21]. Data are lacking among PWH who are virally suppressed on ART. We sought to estimate the prevalence of hypertension among virally suppressed PWH on long-term ART compared to HIV-negative adults in western Kenya and identify factors associated with hypertension. These data can help guide prevention strategies and inform allocation of resources for integrated hypertension and HIV management.

### Materials and Methods

* Study design and Setting 


* Definition of variables



* Statistical Analysis

### Data Analysis and Results

* Exploratory Data Analysis

In [5]:
## Import library 
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
## Loading data
hiv = pd.read_csv("dataset_plos.csv", index_col = "year", parse_dates = True)

## check the first 5 observations of the data set
hiv.head(5)

,sex,age,priorhivtest,treatment,hivresult,hivnew,cd4_cat,bp_cat,bmi_cat,stisymptoms,tbsymptoms,diabsymptoms
year,,,,,,,,,,,,
2008-01-01,1.0,49.0,0.0,NaN,0.0,0.0,NaN,5.0,3.0,0,0,0
2008-01-01,1.0,20.0,0.0,NaN,0.0,0.0,NaN,2.0,2.0,0,0,0
2008-01-01,2.0,29.0,0.0,NaN,0.0,0.0,NaN,2.0,4.0,0,0,0
2008-01-01,2.0,38.0,1.0,NaN,0.0,0.0,NaN,1.0,4.0,0,0,0
2008-01-01,1.0,32.0,0.0,NaN,0.0,0.0,NaN,5.0,2.0,0,0,0